* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  }
  
  body {
    background:url(image\ copy.png) ;
    text-align: center;
    background-size: cover;
  }
  
  .container {
    height: 70vh;
    width: 70vh;
    display: flex;
    border: 1px solid ;
    justify-content: center;
    align-items: center;
    margin-left: 70vh;  
    margin-top: 7vh;  
    background:url(image.png);
    border-radius: 50px;
}
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #eaea94;
  }
  
  #reset-btn {
    margin-top: 7vh;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(155deg,#153677,#4e085f);
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  h1{
    font-size:50px;
    color: #ffffc7;
    text-shadow: 5px;
  }

.heading{
    margin-left:35%;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background: linear-gradient(155deg,#153677,#4e085f);
    background-size: cover;
    border: 0.5px solid aqua;
  }

  #